@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Condensed+One&display=swap');
*{margin: 0;padding: 0;box-sizing: border-box;}


/* common css */
.img-fluid{width:100%;}
.container{max-width:95%;margin: auto;}
.d-flex{display: flex;}
p{font-family: "Roboto", sans-serif;margin-bottom: 10px;}
a{font-family: "Roboto", sans-serif;text-decoration: none;}
.whitetxt{color: white;}
.blacktxt{color: black;}
.orngtxt{color: #9d6200;}
.common-padding{padding: 80px 0;}
.txt-center{text-align: center;}


header{position: relative;z-index: 1;}
.top-header{background-color: #9d6200; padding:10px 80px;}
.contact-detail a{color: white; font-size: 15px;}
.contact-detail.d-flex{justify-content: space-between;gap: 20px;}
.bottom-header{padding:5px 80px;}
.bottom-header.d-flex{justify-content: space-between;align-items: center; box-shadow: 0px 1px 5px 0 #979797;}
.menu-list{list-style: none; display: flex;justify-content: center;gap:55px;align-items: center;}
.menu-list a{color: black;}
.menu-list a:hover{color: #9d6200;border-bottom: 2px solid #9d6200;
    line-height:2;}
.logo-blk{width: 95px;}



.bannerslider_wrapper{position: relative;width: 100%;margin: auto;overflow: hidden;height: 80vh;}
.banner_inner_blk{position: relative;}
.banner_txt{position:absolute;z-index: 111111111;top: 30%;left: 5%;}
.bannerSlider .slick-dots{bottom:28%;right: -90% !important;left: unset;}
.bannerSlider .slick-dots li button{padding: 4px !important;}
.slick-dots li{width: 4px;height: 4px;}
.slick-dots li button{width: 4px;height: 4px;}
.bannerSlider .slick-slide::before {content: "";position: absolute;top: 0;left: 0;width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.07);
}

.bannerSlider .banner_inner_blk img {
    width: 100%;
    height: auto;
    transform: translateY(-255px);
}

.mobileBannerSlider{display: none;}

@media screen and (min-width:1440px) {
    .bannerSlider .slick-dots {
    bottom: 40%;
    }
}

@media only screen and (max-width:1024px){
    .bannerSlider .slick-dots{bottom: 17%;}
    .banner_slider_wrapper_blk{height: auto;}

}
@media only screen and (max-width:767px){
    .bannerslider_wrapper .innerbanner_txt{line-height: 44px;}
    .bannerslider_wrapper .blue_patchtxt{font-size: 13px;padding: 3px 15px 3px 15px;}
    .bannerSlider .slick-dots {bottom: 7%;right: -85% !important;}
}
@media only screen and (max-width:600px){
    .bannerslider_wrapper .innerbanner_txt{padding: 16px 0 0 0;line-height: 28px;}
    .mobileBannerSlider{display: block;}
    .dekstopBannerSlider{display: none;}
}
@media only screen and (max-width:480px){
    .bannerslider_wrapper .blue_patchtxt{width: 85%;line-height: 15px;}
    .header_wrapper{position: unset;}
    .banner_txt{top: 18%;}
}

.innerbanner_txt{font-family: "Special Gothic Condensed One", sans-serif;
    font-size: 70px;
    font-weight: 800;
    letter-spacing: 2px;
}

.orangepatch{
    background: #bd7806;
    padding: 8px 20px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}


ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
}
ul.tabs li{
    background: #999999;
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    border-radius:10px;
    font-size: 15px;
    margin: 0 7px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase
}

ul.tabs li.current{
    background: #bd7806;
}

.tab-content{
    display: none;
    padding: 15px;
    margin-top: 50px;
}

.tab-content.current{
    display: inherit;
}


.card {
    width:90%;
    border-radius: 16px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
  
  .card-image {
    position: relative;
    height:auto;
    overflow: hidden;
  }
  
  .card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .badge {
    position: absolute;
    top: 10px;
    padding: 4px 8px;
    border-radius: 8px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }
  
  .red {
    left: 10px;
    background-color: #bd7806;
  }
  
  .blue {
    right: 10px;
    background-color: #5e5ce6;
  }
  
  .card-content {
    padding: 16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .rating-days {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 8px;
    color: #555;
  }
  
  .stars {
    color: #ffa500;
  }
  
  .card-content h2 {
    color: #bd7806;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
  }
  
  .subtext {
    font-size: 15px;
    color: #888;
    margin-bottom: 10px;
  }
  
  .price {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
  }
  
  .new-price {
    font-weight: bold;
    font-size: 18px;
    color: #000;
  }
  
  .old-price {
    text-decoration: line-through;
    color: #999;
    font-size: 14px;
  }
  
  .details-btn {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #bd7806;
    background-color: transparent;
    border-radius: 10px;
    color: #bd7806;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .details-btn:hover {
    background-color: #bd7806;
    color: white;
  }

  .slide-item{height: 55vh;}

  .slick-dots li.slick-active button {
    background: #f69322 !important;
    }
.slick-dots li button{background: #b9b9b9 !important;}
.slick-dots{display:flex !important;justify-content:center !important;}

.aboutus_wrapper{background-color: #bd7806; }
.about-detail-blk{display:flex;justify-content: center;align-items: center;gap: 95px;}
.title{font-size: 50px;margin-bottom: 20px;font-family: "Special Gothic Condensed One", sans-serif;}

.about-blk{width:50%;}

.aboutimg {
    width:100%;
    border-radius: 20px;
    overflow: hidden;
}

.offer_wrapper{
    background: url('../images/residential-area.jpg'), no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    background-attachment: fixed;
}
.offer_wrapper::before{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5 );
    width: 100%;
    height: 70vh;
}
.title.we-offertxt{font-size: 70px;line-height: 68px;}
.we-offertxt-blk{display: flex;align-items: center;height: 70vh;position: relative;z-index: 1;}

.advantage-wrapper{position: relative;}

.advantage-blk{width: 100%;height: auto;border-radius: 25px;background-color: #ffc05b;display: flex;justify-content: center;align-items: center;gap:20px;flex-wrap: wrap;padding: 40px 40px;}
/* .advantage-list {width: 18%;} */
.ad-img-blk {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}
.advantage-txt-blk{position: absolute;bottom: 0;}
.arrow-btn{width: 40px;height: 40px;background-color: #9d6200;}


.advantage-list {
  position: relative;
  width:23%;
  height:auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  /* background-color: #fff; */
}

/* .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.adv-content {
  position: absolute;
  bottom: 30px;
  left:17px;
  z-index: 2;
}

.adv-content h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}


.arrow-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #9d6200;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  z-index: 1;
}


.contact-container {
  display: flex;
  flex-wrap: wrap;
  min-height:auto;
}

.contact-info {
  background-color: #9d6200;
  color: white;
  flex: 1;
  padding: 40px;
  min-width: 300px;
}

.contact-info h2 {
  margin-bottom: 10px;
  font-size: 28px;
}

.contact-info p {
  line-height: 1.6;
}

.info-block {
  display: flex;
  align-items:flex-start;
  margin-top: 20px;
  gap: 20px;
}
.info-block i{font-size:20px;}
.info-block .icon {
  background-color: white;
  color: #9d6200;
  border-radius: 50%;
  font-size: 24px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.contact-form {
  flex: 1;
  background: #fff;
  padding: 40px;
  min-width: 300px;
  border-left: 2px solid #9d6200;
}

.contact-form h2 {
  color: #9d6200;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
}
.mobile-banner{display:none;}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.form-row input {
  flex: 1;
  padding: 10px;
  border: 1px solid #9d6200;
  border-radius: 3px;
  outline: none;
}

textarea{border: 1px solid #9d6200;width: 100%; padding: 10px;}

.sendbtn{
  align-self: flex-start;
  background-color: #9d6200;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.sendbtn:hover {
  background-color: #9d6200;
} 

.why-choose-us{background-color: #1e1e1e;}


.features-section {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding: 20px 30px; 
  max-width:100%;
  margin: auto;
  flex-wrap: wrap;
}

.feature-box {
  background-color: #fff;
  border-radius: 12px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
  flex: 1 1 300px;
  max-width:21%;
}

.icon-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px dashed #ccc;
}

.icon-circle img {
  width: 40px;
  height: 40px;
}

/* Colored border variations */
.darkorng{ border-color: #9d6200; background-color: #ffd288; }

.minittl {
  font-family: "Special Gothic Condensed One", sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.icon-circle i{font-size: 25px;color: #9d6200;}

.contact-info .minittl h2{font-size: 20px;}



.site-footer {
  background-color: #1c1c1c;
  color: #fff;
  padding: 20px 30px;
  font-family: Arial, sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-links {
  color: #ccc;
  font-size: 15px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 8px;
}
.gp-10{gap: 10px;}
.footer-links span {
  color: #999;
}

.footer-links p {
  margin-top: 8px;
  color: #ccc;
}

.footer-social a {
  display: inline-block;
  background-color: #3b5998;
  color: #fff;
  margin-left: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
  font-size: 16px;
}

.footer-social a:nth-child(2) { background: #e4405f; }   
.footer-social a:nth-child(3) { background: #0077b5; } 
.footer-social a:nth-child(4) { background: #1da1f2; }  
.navicon i{font-size: 30px;color: #bd7806;}
.mm-panels, .mm-panels>.mm-panel{background-color:#bd7806 !important ;}
.mm-navbars-bottom, .mm-navbars-top{background-color:#bd7806 !important ;}
#menu{display: none;}

@media only screen and (max-width:1024px) {

  .menu-blk{display: none;}
  #menu{display:block;}
  .top-header{display: none;}
  .innerbanner_txt{font-size: 40px;}
  .orangepatch{font-size: 15px;}
  .bannerslider_wrapper{height:500px;}
  .logo-blk {width: 60px;}
  .common-padding{padding:60px 0;}
  .slick-dots{    bottom: -40px !important; }
  .title{font-size: 40px;}
  .title.we-offertxt{font-size: 56px;}
  .adv-content h2{  font-size: 18px;}
  .features-section{gap: 15px;padding: 0;}
  .icon-circle{width: 60px;
    height: 60px;}
    .minittl{font-size: 18px;}
    .icon-circle i{font-size: 20px;}
    .bannerSlider .slick-slide::before{
      height:500px;}

      .bannerSlider .banner_inner_blk img {
        transform: translateY(-117px);
    }
}

@media only screen and (max-width:900px){
  .bannerSlider .slick-slide::before {
    height: 453px;
}
.arrow-button{    width: 30px;
  height: 30px;font-size: 15px;}

  .adv-content h2 {
    font-size: 15px;
  }
}

@media only screen and (max-width:768px){
  .bannerSlider .slick-slide::before {
    height: 369px;
  }
  .bannerslider_wrapper{height:369px;}
  .advantage-list{width: 31%;}
  .feature-box{max-width:50%;}
  .bottom-header{padding: 5px 20px;}
  .tab-content{margin-top:20px;}
}

@media only screen and (max-width:560px){
  .orangepatch {
    font-size: 13px;
}
.innerbanner_txt {
  font-size: 30px;
}
.bannerslider_wrapper {
  height: 250px;
}
ul.tabs li{
  padding: 7px 19px;
}
.card-content h2{    font-size: 16px;}
.subtext{font-size: 14px;}
.new-price{    font-size: 15px;}
.about-detail-blk{display: block;}
.about-blk{width: 100%;}
.title {
  font-size: 30px;
}
p{font-size: 14px;}
.title.we-offertxt {
  font-size: 35px;
  line-height: 40px;
}
.offer_wrapper{height: 50vh;}
.we-offertxt-blk{height: 50vh;}
.offer_wrapper::before{height: 50vh;}
.advantage-list{width:46%;}
.footer-links{font-size: 12px;}
.footer-links p{font-size: 12px;}
}

@media only screen and (max-width:480px){
  .bannerSlider.dekstopBannerSlider{display: none !important; }
  .slick-dots{left:0px !important;}
  .mobile-banner{display: block;}
  .advantage-list{width: 100%;}
  .feature-box{max-width: 100% !important;}
  .mobile-banner::before{content: '';
  position: absolute;
background: rgba(0, 0, 0, 0.5);width: 100%;
height: 250px;}
}